.header {
  background-color: #1f2f31; /*405153*/
  padding: 1rem;
  color: #ddd;
}

.header nav a {
  color: #ddd;
  margin-right: 15px;
  text-decoration: none;
  font-size: 0.9rem;
}

.header nav {
  margin-bottom: 1rem;
}

.header nav a:hover {
  text-decoration: underline;
}
