.nivel-container {
    margin-bottom: 20px;
}

.nodo-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 2.5rem;
}

h3 {
    color: #ddd;
    font-size: 1.35rem;
}
.nodo {
    position: relative;
    padding: 0 8px;
    border: 2.5px solid #0a0d0e;
    background-color: #9aa4a5; /*607577*/
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    font-size: 1.1rem;
}

.nodo:hover {
    transform: scale(1.04);
}

.clave {
    padding: 6px 15px;
    margin: 0 8px;
    border-left: 2.5px solid #0a0d0e;
    border-right: 2.5px solid #0a0d0e;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.2s;
}

.clave:hover {
    background-color: #ddd;
}

